/* شاشة التحميل */
:root {
    --primary: #895737;
    --secondary: #ff924f;
}
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: opacity 0.5s ease;
}

.splash-screen div {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    position: relative;
    color: var(--primary);
}

.splash-screen div::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg,  var(--secondary), var(--primary));
    transform: scaleX(0);
    transform-origin: right;
    animation: underlineGrow 2s infinite ease-in-out;
}

@keyframes underlineGrow {
    0% {
        transform: scaleX(0);
        transform-origin: right;
    }

    50% {
        transform: scaleX(1);
        transform-origin: right;
    }

    51% {
        transform-origin: left;
    }

    100% {
        transform: scaleX(0);
        transform-origin: left;
    }
}